<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @available_loc.label %>
</p>

<%= link_to 'Edit', edit_available_loc_path(@available_loc) %> |
<%= link_to 'Back', available_locs_path %>
