<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Lux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../4/lux/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../_assets/css/custom.min.css">
  </head>
  
  <body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a href="../" class="navbar-brand">
            <div id="btnPad">
        <img src="https://i.imgur.com/1PkUVKB.png" width="120" height="62" alt="Computer Hope">
            </div>
        </a>
        <a href="../" class="navbar-brand">TickIT</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
          </ul>

          <ul class="nav navbar-nav ml-auto">
               <% if user_signed_in? %>
                 
                 <% if current_user.admin? %>
                 <li class="nav-item">
                    <%= link_to "Logged in as (Admin) #{current_user.email}", edit_user_registration_path, :class => 'nav-link'  %>
                </li>
                
                <li class="nav-item">
                    <%= link_to "Admin Panel", "adminpanel", :class => 'nav-link'  %>
                </li>
                 
                 <% else %>
                 
                <li class="nav-item">
                   <%= link_to "Logged in as #{current_user.email}", edit_user_registration_path, :class => 'nav-link'  %>
                </li>
                
                <% end %>
                
                <li class="nav-item">
                    <%= link_to "Logout", users_sign_out_path, :class => 'nav-link',:method => :delete  %>
                </li>
                <% end %>
          </ul>
        </div>
      </div>
    </div>




  <div class="row">
    <div class="col-md-4">
      <form>
      <fieldset>
      <h3>Create a new ticket</h3>
    <div class="form-group">
      <label for="locationSelect">Select a location</label>
      <select class="form-control" id="locationSelect">
        <option>West End</option>
        <option>Central</option>
        <option>College Hill</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ticketHeading">Ticket Heading</label>
      <textarea class="form-control" id="ticketHeading" rows="1"></textarea>
    </div>
    <div class="form-group">
      <label for="ticketBody">Ticket Body</label>
      <textarea class="form-control" id="ticketBody" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input (optional)</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Upload a file displaying the current problem being dealt with.</small>
    </div>
      <fieldset class="form-group">
        <legend>Priority Level</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
        <span class="badge badge-pill badge-success">Low Priority</span>
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
        <span class="badge badge-pill badge-warning">Medium Priority</span>
      </label>
    </div>
    <div class="form-check disabled">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
        <span class="badge badge-pill badge-danger">High Priority</span>
      </label>
    </div>
      </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
      </form>
    </div>
  </div>