// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#homeCenter {
  display: flex;
  align-items: center;
  justify-content: center
  
  }
  #btnPad {
    margin: 10px;
}